html,
body {
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Recursive", Arial, sans-serif;
  font-style: oblique 0deg;
  font-weight: 400;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;
  letter-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recursive,
.recursive-mono {
  font-family: "Recursive", Arial, sans-serif;
  font-style: oblique 0deg;
  font-weight: 400;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;
}

.recursive-mono {
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 1;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.rough-annotation path {
  stroke-linecap: round;
}

.rough-annotation .highlighted path {
  stroke-linecap: square;
}
